@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .abs {
    position: absolute;
  }
  
  
  .input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .input_video.selfie {
    transform: scale(-1, 1);
  }
  
  .input_image {
    position: absolute;
  }
  
  .canvas-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .output_canvas {
    max-width: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
  }
  
  .logo {
    bottom: 10px;
    right: 20px;
  }
  .logo .title {
    color: white;
    font-size: 28px;
  }
  .logo .subtitle {
    position: relative;
    color: white;
    font-size: 10px;
    left: -30px;
    top: 20px;
  }
  /*
  .control-panel {
    position: absolute;
    left: 10px;
    top: 10px;
  }*/
  .control-panel-entry {
    width: 250px;
    background-color: #fff;
    border: none; 
    border-radius: none;
    box-shadow: none;
    cursor: pointer;
    font-family: "Titillium Web",sans-serif;
    font-size: 15px;
    line-height: 25px;
    opacity: .8;
    padding: 5% 5%;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    z-index: 100;
    color:white;
}
.playImage{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 15%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.pauseImage{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 15%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.resetImage{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 15%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

  .loading {
    z-index:2;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    backface-visibility: hidden;
    justify-content: center;
    opacity: 1;
    transition: opacity 1s;
  }
  .loading .message {
    z-index:2;
    font-size: x-large;
  }
  .loading .spinner {
    z-index:2;
    position: absolute;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    border: 15px solid #bebebe;
    border-top: 15px solid #3498db;
    border-radius: 50%;
  }
  
  .loaded .loading {
    z-index:2;
    opacity: 0;
  }
  
  .shoutout {
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
    font-size: 24px;
    position: absolute;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    max-width: 80vh;
    max-height: 80vh;
  }
  
  /* Add Animation */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  .incompatiblemodal {
    z-index:2;
    background-color: #fff;
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.5s, visibility 0s 0.5s;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width: 100%;
  }
